<h1>トレーニング記録詳細</h1>

<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "トレーニング記録一覧へ戻る", trainings_path %>

<<div class="content">
  <p><%= @training.title %></p>
  <p><%= @training.content %></p>
</div>
